@model CoreHotelRoomBookingAdminPortal.Models.HotelType

<h2>Details</h2>


@*@Html.DisplayNameFor(model => model.HotelTypeId)
    @Html.DisplayFor(model => model.HotelTypeId)
    <br />
    @Html.DisplayNameFor(model => model.HotelTypeName)
    @Html.DisplayFor(model => model.HotelTypeName)
    <br />
    @Html.DisplayNameFor(model => model.HotelTypeDescription)
    @Html.DisplayFor(model => model.HotelTypeDescription)
    <br />*@

<br />
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.HotelTypeId) </th>
            <th> @Html.DisplayFor(model => model.HotelTypeId) </th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.HotelTypeName)</th>
            <th>@Html.DisplayFor(model => model.HotelTypeName)</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.HotelTypeDescription)</th>
            <th>@Html.DisplayFor(model => model.HotelTypeDescription)</th>
        </tr>
        
    </thead>
</table>
<br />